@charset "UTF-08";

    *{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to bottom, #A61C28, #F31F2E, #000000);
}

main {
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 15px #000000;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px rgb(136, 57, 57);
}

h2 {
    color: #BF344D;
}

p {
    color: rgb(0, 0, 0);
    text-align: justify;
}